.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-set);
}

.gallery-container {
  padding-top: 60px;
  padding-bottom: 30px;
}
.card-thumb {
  height: 300px;
  width: 100%;

  transform: scale(1);
  transition-property: transform;
  transition: transform var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    cursor: zoom-in;
    transform: scale(1.1);
  }
}

.card-thumb > img {
  height: 100%;
  object-fit: cover;
}

.photo-card {
  flex-basis: calc((100% - 3 * var(--gap-set)) / 4);
  overflow: hidden;

  border-radius: 4px;
  border-right: var(--border-color);
  border-bottom: var(--border-color);
  border-left: var(--border-color);

  transition-property: box-shadow;
  transition: box-shadow var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow);
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 10px 5px;
  text-align: center;
  font-size: 12px;
}

.load-more-btn {
  display: block;
  min-width: 150px;
  padding: 10px 30px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition: color var(--animation-duration) var(--timing-function),
    background-color var(--animation-duration) var(--timing-function),
    box-shadow var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-light);
    background-color: var(--color-dark);
    box-shadow: var(--box-shadow);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// button[disabled] {
//   color: rgb(255, 255, 255);
//   background-color: rgba(255, 255, 255, 0.6);
// }
